<h1>Formulario</h1>
<form method='POST' action="/vaga/{{vaga.id}}/formulario">
    <div>
        <label>Nome</label> <br>
        <input type="text" name="nome" placeholder="inform o nome" 
    </div>
    <div>
        <label>email</label> <br>
        <input type="email" name="email" placeholder="inform o email" 
    </div>

    <div>
        <label>Linkedin</label> <br>
        <input type="url" name="linkedin" placeholder="inform o linkedin" 
    </div>

    <div>
        <label>Experiencia</label> <br>
        <textarea name="experiencia"></textarea>
    </div>
<input type="submit" name="enviar">
</form>