<h1>Formulario</h1>
<form method='POST' action="/vaga/{{vaga.id}}/formulario">
<div>
    <label>Titulo</label><br>
    <input type="text" name="titulo" placeholder="informe o titulo">
</div>
  <div>
      <label>Localidade</label><br>
      <input type="text" name="localidade" placeholder="localidade">
  </div>
  
  <div>
    <label>Salario</label><br>
    <input type="text" name="salario" placeholder="salario">
</div>
  
  <div>
      <label>Responsablidade</label><br>
      <input type="text" name="responsablidade" placeholder="Responsablidade">
  </div><br>
  <input type="submit" name="submit" placeholder="Enviar">
  
</form>