<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Incricao realisada  para a vaga de {{vaga.titulo}} </h1>

  <h4>Nome</h4>
  <div>{{formulario.nome}}</div>
  <h4>Email</h4>
  <div>{{formulario.email}}</div>
  <h4>Linkidin</h4>
  <div>{{formulario.linkedin}}</div>
  <h4>Experiencia</h4>
  <div>{{formulario.experiencia}}</div>
</body>
</html>